@import "../assets/scss/variable.scss";
.blank_layout {
  background-color: #f3f3f3;
  min-height: 100vh;
  color: #343434;
  width: 100%;
  max-width: $screen-width;
  margin: auto;
}


.header_footer {
  width: 100%;
  max-width: $screen-width;
  background-color: #f3f3f3;
  min-height: 100vh;
  &__header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  &__center {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__container {
    width: 100%;
    max-width: $screen-width;
  }
  &__footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
}


.only_footer {
  width: 100%;
  max-width: $screen-width;
  // background-color: $color-primary;
  // color: white;
  background-color: #f3f3f3;
  min-height: 100vh;
  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  &__center {
    padding-bottom: 80px;
  }
  &__container {
    width: 100%;
    max-width: $screen-width;
  }
}


.only_header {
  width: 100%;
  position: relative;
  max-width: $screen-width;
  min-height: 100vh;
  background-color: #f3f3f3;

  &__header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  &__container {
    width: 100%;
    max-width: $screen-width;
  }
  &__center {
    // padding-top: 150px;
    &--blur {
      padding-top: 0px;
      min-height: 100px;
    }
    &--noti {
      padding-top: 0px;
      min-height: 100px;
    }
  }
}
